body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}
a {font-size:100%;
   transition: 1s
  }
  a:hover {font-size:170%}

.container {

    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 4fr;
    grid-template-areas:
     "logo banner"
      "nav nav"
      "contenido contenido"
      "pie pie";
    text-align: justify;
  }
  
  .logo { 
    grid-area: logo;
    justify-items: center;
    align-items: center; 
      }

  .banner { 
    grid-area: banner; 
    justify-items: center;
    align-items: center; 

  }

  .nav { 
   font-size: 100%;
   grid-area: nav;
   color: #fff;
	 font-family: 'Roboto', sans-serif;
   text-align: center;
   }  

  .contenido { 
    grid-area: contenido; 
    text-align:justify;
   }
  
  .pie {
    grid-area: pie; 
    text-align: center;
    border: .125em solid;
    }
    
  
  @media screen and (max-width: 900px) {
	
  }
  
  @media screen and (max-width: 700px) {
    
  }
  
  @media screen and (max-width: 600px) {
  
  }